{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
    <meta name="description" content="Demo is the best online platform for your  online shopping">
    <meta name="author" content="theGhost">
    <meta property="og:title" content="PetNet | About">
    <meta property="og:description" content="Demo is the best online platform for your  online shopping">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://demo.com/about/">
{% endblock %}

{% block content %}
    <h1>About Page</h1>

{% endblock %}